@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nav-height: 112px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 204 48% 8%;
    --footer: 206.25 44.44% 7.06%;
    --footer-foreground: 203 4% 36%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 204 65% 44%;
    --primary-foreground: 204 8% 13%;
    --light-primary: 201 50% 95%;
    --light-primary-hover: 201 11% 73%;
    --hover: 204 56% 95%;
    --secondary: 126 26% 58%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 203 4% 36%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --triger: 204 48% 8%;
    --content: 203 4% 36%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 206 44% 7%;
    --foreground: 203 63% 89%;
    --footer: 0 0% 100%;
    --footer-foreground: 203 4% 36%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --hover: 205.71 18.42% 14.9%;
    --primary: 204 65% 44%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --light-primary: 206 38% 11%;
    --light-primary-hover: 201 11% 73%;
    --secondary: 126 26% 58%;
    --secondary-foreground: 210 40% 98%;
    --muted: 200 7% 67%;
    --muted-foreground: 215 20.2% 65.1%;
    --triger: 203 63% 89%;
    --content: 200 7% 67%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground bg-background;
  }

  .fix-height {
    height: calc(100vh - var(--nav-height));
  }

  .underLine::before {
    width: calc(100% + 50px);
    content: "";
    background: linear-gradient(269.87deg, #277eb8 -9.64%, #ffffff 96.57%);
    @apply absolute h-0.5 -bottom-3 left-1/2 text-center;
    transform: translateX(-50%);
  }

  .text-gradiant {
    background: linear-gradient(21.45deg, #277eb8 32.36%, #fff 110.94%);
  }

  .bg-landing {
    background-size: 100% 100%;
  }

  .background-terms {
    @apply bg-cover bg-center bg-no-repeat;
  }

  .terms-card {
    background-color: rgba(217, 217, 217, 0.3);
  }

  .terms-card-dark {
    background-color: rgba(217, 217, 217, 0.2);
  }

  .bg-feature-dark {
    background-image: url("../assets/images/bg-applogo-dark.png");
    background-repeat: no-repeat;
  }

  .bg-feature {
    background-image: url("../assets/images/bg-applogo-light.png");
    background-repeat: no-repeat;
  }

  @keyframes downloadBounce {
    to {
      transform: translateY(0px) rotate(50deg);
    }
  }

  @keyframes downloadBounce2 {
    to {
      transform: translateY(0px) rotate(-50deg);
    }
  }


  .download {
    /* Rounded corner overflow mask fix */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    background: hsl(204 65% 44%);
    border: 1px solid hsl(204 65% 44%);
    color: white;
    padding: 26px 0 26px 28px;
    width: 150px;
    height: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
  }

  .download span {
    display: block;
  }

  .download span:after,
  .download span:before {
    content: '';
    width: 1px;
    height: 16px;
    background: hsl(204 65% 44%);
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transition: all 10ms ease-out;
    transform-origin: center bottom;
    transform: translateY(0) rotate(0deg);
    animation: none;
  }

  .download svg {
    z-index: 0;
    fill: rgba(255, 255, 255, 1);
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(0.04857);
    transition: all 350ms ease-out;
    height: 600px;
  }


  .download:hover {
    padding: 26px 0;
    color: rgba(0, 124, 205, 1);
  }

  .download:hover svg {
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg) scale(1);
  }

  .download:hover span {
    transform: translate(0, -10px) scale(1.1);
    transition: transform 400ms ease-out 400ms;
  }

  .download:hover span:after,
  .download:hover span:before {
    opacity: 1;
    transition: all 400ms ease-out 400ms, transform 300ms ease-in 100ms;
  }

  .download:hover span:after {
    transform: translateY(7px) rotate(50deg);
    animation: downloadBounce 800ms linear alternate infinite;
  }

  .download:hover span:before {
    transform: translateY(7px) rotate(-50deg);
    animation: downloadBounce2 800ms linear alternate infinite;
  }
}